<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/desktop.css">
    <title>Browser Desktop</title>
    <meta name="description" content="Browser Desktop は、お気に入りのWebサービスやツールへのアクセスを一括管理できるWebアプリです。よく使うサイトを、デスクトップ感覚でワンクリック起動。煩雑になりがちなブックマークを整理して、シンプル＆スマートな作業環境を実現します。">
    <meta name="keywords" content="デスクトップ, ショートカット">
    <meta property="og:title" content="Browser Desktop">
    <meta property="og:description" content="Browser Desktop は、お気に入りのWebサービスやツールへのアクセスを一括管理できるWebアプリです。よく使うサイトを、デスクトップ感覚でワンクリック起動。煩雑になりがちなブックマークを整理して、シンプル＆スマートな作業環境を実現します。">
</head>
<body>
    <header>
        <img class="icon-button" src="/res/img/menu.png" onclick="document.getElementById('open-nav').click()">
        <img class="logo" src="/res/img/logo.png">
    </header>
    <div class="outer">
        <input id="open-nav" class="open-nav" type="checkbox">
        <nav>
            <h2><%= user.username %></h2>
            <a href="/auth/logout">ログアウト</a>
            <hr>
            <div class="nav-shortcut-box">
                <% shortcutsAZ.forEach(shortcut => { %>
                    <% if(shortcut) { %>
                        <a class="nav-shortcut" href="<%= shortcut.url %>" target="_blank" data-json="<%= JSON.stringify(shortcut) %>">
                            <p><%= shortcut.title %></p>
                        </a>
                    <% } %>
                <% }) %>
            </div>
        </nav>
        <main>
            <% if (error_msg && error_msg.length > 0) { %>
                <div class="error-alert"><%= error_msg[0] %></div>
            <% } %>
              
            <form id="search-form" class="search-form flex-center">
                <input name="searchword" type="text" placeholder="Web検索" required>
                <button type="submit">検索</button>
            </form>
            <button onclick="document.getElementById('open-add-shortcut').click()">+ショートカット新規作成</button>
            <button onclick="document.getElementById('open-add-folder').click()">+フォルダ新規作成</button>
            <div class="shortcut-box">
                <% folders.forEach(folder => { %>
                    <% if(folder) { %>
                        <div class="folder" onclick="document.getElementById('open-folder-<%= folder._id %>').click()" data-json="<%= JSON.stringify(folder) %>">
                            <img src="/res/img/folder.png"><br>
                            <p><%= folder.title %></p>
                        </div>
                    <% } %>
                <% }) %>
                <% shortcuts.forEach(shortcut => { %>
                    <% if(shortcut && shortcut.folder == 'none') { %>
                        <a class="shortcut" href="<%= shortcut.url %>" target="_blank" data-json="<%= JSON.stringify(shortcut) %>">
                            <img src="<%= shortcut.faviconUrl %>"><br>
                            <p><%= shortcut.title %></p>
                        </a>
                    <% } %>
                <% }) %>
            </div>
        </main>
    </div>

    <div class="window-box">
        <% folders.forEach(folder => { %>
            <% if(folder) { %>
                <input id="open-folder-<%= folder._id %>" class="open-window" type="checkbox">
                <div class="window">
                    <div class="folder-content">
                        <button class="text-button" onclick="document.getElementById('open-folder-<%= folder._id %>').click()">←　<%= folder.title %></button>
                        <div class="shortcut-box">
                            <% shortcuts.forEach(shortcut => { %>
                                <% if(shortcut && shortcut.folder == folder._id) { %>
                                    <a class="shortcut" href="<%= shortcut.url %>" target="_blank" data-json="<%= JSON.stringify(shortcut) %>">
                                        <img src="<%= shortcut.faviconUrl %>"><br>
                                        <p><%= shortcut.title %></p>
                                    </a>
                                <% } %>
                            <% }) %>
                        </div>
                    </div>
                </div>
            <% } %>
        <% }) %>

        <input id="open-add-shortcut" class="open-window" type="checkbox">
        <div class="window">
            <div class="window-content">
                <h2>ショートカットを作成</h2>
                <form action="/shortcut/add" method="post">
                    <div>
                        <input type="text" name="title" placeholder="タイトル">
                    </div>
                    <div>
                        <input type="url" name="url" placeholder="URL" required>
                    </div>
                    <div>
                        <select name="folder">
                            <option value="none">フォルダなし</option>
                            <% folders.forEach(folder => { %>
                                <% if(folder) { %>
                                    <option value="<%= folder._id %>"><%= folder.title %></option>
                                <% } %>
                            <% }) %>
                        </select>
                    </div>
                    <div class="flex-right">
                        <button class="cancel" type="button" onclick="document.getElementById('open-add-shortcut').click()">キャンセル</button>
                        <button type="submit">作成</button>
                    </div>
                </form>
            </div>
        </div>

        <input id="open-edit-shortcut" class="open-window" type="checkbox">
        <div class="window">
            <div class="window-content">
                <h2>ショートカットを編集</h2>
                <form id="edit-shortcut-form" method="post">
                    <div>
                        <input id="edit-shortcut-title" type="text" name="title" placeholder="タイトル">
                    </div>
                    <div>
                        <input id="edit-shortcut-url" type="url" name="url" placeholder="URL" required>
                    </div>
                    <div>
                        <select id="edit-shortcut-folder" name="folder">
                            <option value="none">フォルダなし</option>
                            <% folders.forEach(folder => { %>
                                <% if(folder) { %>
                                    <option value="<%= folder._id %>"><%= folder.title %></option>
                                <% } %>
                            <% }) %>
                        </select>
                    </div>
                    <div class="flex-right">
                        <button class="cancel" type="button" onclick="document.getElementById('open-edit-shortcut').click()">キャンセル</button>
                        <button type="submit">更新</button>
                    </div>
                </form>
            </div>
        </div>

        <input id="open-add-folder" class="open-window" type="checkbox">
        <div class="window">
            <div class="window-content">
                <h2>フォルダを作成</h2>
                <form action="/folder/add" method="post">
                    <div>
                        <input type="text" name="title" placeholder="タイトル" value="新しいフォルダ" required>
                    </div>
                    <div class="flex-right">
                        <button class="cancel" type="button" onclick="document.getElementById('open-add-folder').click()">キャンセル</button>
                        <button type="submit">作成</button>
                    </div>
                </form>
            </div>
        </div>

        <input id="open-edit-folder" class="open-window" type="checkbox">
        <div class="window">
            <div class="window-content">
                <h2>フォルダを編集</h2>
                <form id="edit-folder-form" method="post">
                    <div>
                        <input id="edit-folder-title" type="text" name="title" placeholder="タイトル" required>
                    </div>
                    <div class="flex-right">
                        <button class="cancel" type="button" onclick="document.getElementById('open-edit-folder').click()">キャンセル</button>
                        <button type="submit">更新</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="contextmenu-box">
        <div id="shortcut-contextmenu" class="contextmenu">
            <button onclick="document.getElementById('open-edit-shortcut').click()">編集</button>
            <button onclick="document.getElementById('delete-shortcut').submit()">削除</button>
        </div>

        <div id="folder-contextmenu" class="contextmenu">
            <button onclick="document.getElementById('open-edit-folder').click()">編集</button>
            <button onclick="document.getElementById('delete-folder').submit()">削除</button>
        </div>
    </div>

    <div style="display: none;">
        <div id="current-shortcut" data-json=""></div>
        <div id="current-folder" data-json=""></div>

        <form id="delete-shortcut" method="post"></form>
        <form id="delete-folder" method="post"></form>
    </div>

    <script src="/js/desktop.js"></script>
</body>
</html>
